@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
a,
button {
	color: #222;
	font-family: Lato;
}

button {
	cursor: pointer;
}

h1 {
	font-size: 48px;
	font-weight: 900;
}

h2 {
	font-size: 32px;
	font-weight: 700;
}

h3 {
	font-size: 30px;
	font-weight: 400;
}

h4 {
	color: #f16d7f;
	font-size: 24px;
	font-weight: 700;
}

h5 {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

h6 {
	font-size: 13px;
	font-weight: 400;
}

p {
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	color: #9f9f9f;
}

main {
	width: 100%;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

body {
	overflow-x: hidden;
	width: 100vw;
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

.header {
	width: 100vw;
	height: 74px;
	background-color: #222;
	padding: 19px 230px;
	display: flex;
	justify-content: space-between;
}

.navMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftNavMenu {
	display: flex;
	gap: 40px;
}

.rightNavMenu {
	display: flex;
	gap: 40px;
}

.navMenuButton {
	background-color: transparent;
	border: none;
}

.container {
	width: 1140px;
	align-self: center;
	align-content: center;
	margin: 0 auto;
}

.previewSection {
	display: flex;
	flex-direction: row;
	height: 764px;
	background-color: #f1e4e6;
	align-content: center;
}

.previewSectionLeft {
	width: 50vw;
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: center;
}

.previewSectionRight {
	width: 50vw;
}

.brandTag {
	margin-top: 289px;
	margin-left: 64px;
	border-left: #f16d7f solid;
	border-left-width: 12px;
}

.brandTagText {
	width: 377px;
	margin-left: 16px;
}

.brandTagTextPinkWord {
	color: #f16d7f;
}

.offerCardListSection {
	padding-top: 65px;
	padding-bottom: 96px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
	align-items: center;
	gap: 30px;
}

.offerCardCommonStyles {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.offerCardImage {
	position: relative;
}

.offerCardImageOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 22, 22, 0.7);
	pointer-events: none;
}

.offerCardCommonStyles > img {
	width: 100%;
}

.offerCardSmall {
	width: 360px;
	height: 260px;
}

.offerCardBig {
	width: 1140px;
	height: 180px;
	grid-column: span 3;
	position: relative;
}

.promoText {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	text-align: center;
	width: 154px;
}

.promoTextLong {
	width: 169px;
}

.feturedItemsSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
}

.feturedItemsSectionDescription {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 6px;
}

.feturedCard {
	background-color: #f8f8f8;
	width: 360px;
	height: 581px;
}

.feturedCardList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 30px;
}

.feturedItemDescription {
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.feturedItemDescription p {
	font-weight: 300;
}

.feturedItemDescriptionPrice {
	color: #f16d7f;
	font-size: 16px;
	font-weight: 400;
}

.browseAllProductButton {
	color: #f26376;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 60px;
	border: 1px #f16d7f solid;
	padding: 15px 39px 14px;
	background-color: #fff;
}

@media (min-width: 768px) and (max-width: 1140px) {
	.header {
		padding: 18px 32px;
	}

	.container {
		width: 735px;
	}

	.previewSection {
		height: 368px;
	}

	.previewSectionLeftImage {
		height: 368px;
		width: 368px;
	}

	.brandTag {
		margin-top: 139px;
		margin-left: 39px;
	}

	.brandTagText {
		width: 283px;
	}

	h1 {
		font-size: 44px;
	}

	h2 {
		font-size: 24px;
	}

	.offerCardListSection {
		padding-bottom: 110px;
		gap: 20px;
	}

	.offerCardSmall {
		width: 232px;
		height: 168px;
	}

	.offerCardBig {
		width: 735px;
		height: 116px;
	}

	.feturedItemsSectionDescription {
		gap: 3.3px;
	}

	.feturedCardList {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}

	.feturedItemDescription {
		padding: 25px 29px 20px 16px;
		gap: 0px;
	}

	.feturedItemDescription h6 {
		margin-bottom: 13px;
	}

	.feturedItemDescription p {
		font-weight: 300;
		margin-bottom: 18px;
	}
}

@media (max-width: 767px) {
	.navMenuButton.men,
	.navMenuButton.basket {
		display: none;
	}

	.previewSectionLeft {
		display: none;
	}

	.header {
		padding: 18px 16px;
	}

	.previewSection {
		height: 363px;
	}

	.previewSectionRight {
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.brandTag {
		margin: 148px 0px;
	}

	.brandTagText {
		width: 263px;
		margin-left: 15px;
	}

	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 20px;
	}

	.container {
		width: 360px;
	}

	.offerCardSmall {
		width: 343px;
		height: 247px;
		background-position: center;
		background-size: cover;
	}

	.offerCardBig {
		width: 343px;
		height: 111px;
	}

	.offerCardImage {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	.offerCardListSection {
		padding: 64px 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 32px;
	}

	.feturedItemsSection {
		gap: 41px;
	}

	.feturedItemsSectionDescription {
		gap: 3.3px;
	}

	.feturedCardList {
		grid-template-columns: repeat(1, 1fr);
		gap: 16px;
	}

	.feturedItemDescription {
		padding: 25px 29px 20px 16px;
		gap: 0px;
	}

	.feturedItemDescription h6 {
		margin-bottom: 13px;
	}

	.feturedItemDescription p {
		font-weight: 400;
		margin-bottom: 14px;
	}

	.browseAllProductButton {
		margin-bottom: 85px;
	}
}
